<!-- views/pages/contact.ejs -->

<!DOCTYPE html>

<html>

<head>
    <title></title>

    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="/css/contact.css">

</head>

<body>

    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <section class="page">
            <h2 id="title">CONTACT PAGE</h2>
            <form id="form" action="/send" method="post">
                <table border="0" cellspacing= "5" cellpadding="5">


                    <tr id= "name">
                        <td>NAME:</td>
                        <td>
                            <input type="text" name="NAME">
                        </td>
                    </tr>


                    <tr id= "email">
                        <td>EMAIL ADDRESS:</td>
                        <td>
                            <input type="text" name="EMAIL ADDRESS" required>
                        </td>
                    </tr>

                    <tr id="Inquiry">
                        <td>INQUIRY:</td>
                        <td>
                            <!--<input id="textarea" type="text" name="Inquiry" required>-->
                            <textarea id="message" name="Inquiry" form="form" rows="5" required></textarea>
                        </td>
                    </tr>
                </table>
                <div id="Button">
                    <input type="submit" value="Submit">
                </div>

            </form>
        </section>

        <!-- Login Box -->
        <% include ../partials/loginbox.ejs %>

    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>

    <% include ../partials/scripts.ejs %>

</body>

</html>