<!-- views/pages/index.ejs -->

<!DOCTYPE html>

<html>

<head>
    <title>Munro Spotter</title>
    <% include ../partials/head.ejs %>
</head>

<body>

    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <section class="page">
            <h1>WELCOME</h1>
            <p>Munro Spotter is a companion app designed for those who enjoy the challenge of climbing.</p>


            <!-- Index Content -->

            <div id = "content-container">

                <div class = "infolink">
                    <a href = "/munromap">

                        <div class="infoimg">
                            <img src="/img/pins-map.png" class = "additional-info-images">
                        </div>

                        <div class="infotext">
                            <h3>The Munros Map</h3>
                            <p>Would you like to see all the Munros?We provide all map
                                information an adventurer might need including where the SMR stations are,
                                Beginner Munros, Intermediate Munros, Difficult Munros, and many other!</p>
                        </div>

                    </a>
                </div>

                <div class = "infolink">
                    <a href = "/munrolist">
                        <div class="infoimg">
                            <img src="/img/schiehallion.jpg" class = "additional-info-images">
                        </div>

                        <div class="infotext">
                            <h3>Is there a list of all Munros?</h3>
                            <p>We provide all details about every single Munro, icluding description
                                of the Munros,the exact coordinates, height, difficulty, grid reference and many other!</p>
                        </div>

                    </a>
                </div>

                <div class = "infolink">
                    <a href = "/contact">

                        <div class="infoimg">
                            <img src="/img/email.png" class = "additional-info-images">
                        </div>

                        <div class="infotext">
                            <h3>Contact us!</h3>
                            <p>You have questions about a particular Munro?
                                Which are the best routes for your Munro?
                                Which is the best accommodation in your next Munro area?
                                We would love to hear from you!
                            </p>
                        </div>

                    </a>
                </div>

            </div>

        </section>

        <!-- Login Box -->
        <% include ../partials/loginbox.ejs %>

    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>

    <% include ../partials/scripts.ejs %>

</body>

</html>
