<!-- views/pages/profile.ejs -->

<!DOCTYPE html>

<html>

<head>
    <title></title>

    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="/css/profile-style.css">

</head>

<body>

<header>
    <% include ../partials/header.ejs %>
</header>

<main>
    <section class="page">
        <img src="/img/profilepic.png" id="Pic"/>
        <h1 id="SiteTitle">Hello <%= user.name %></h1>

        <div id="progress-donut"></div>

        <h4 id="PageList"> Munros Bagged </h4>

        <p><%= user.bagged.length %> / 282</p>

        <div class="Content">
            <ul>
                <% user.bagged.forEach( function(munro) { %>
                    <li><%= munro %></li>
                <% }); %>
            </ul>
        </div>
    </section>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

<% include ../partials/scripts.ejs %>

<% var numMunros = user.bagged.length %>

<!-- JAVASCRIPT FOR PROGRESS CHART (GOOGLE CHARTS) -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/js/profilechart.js"></script>

</body>

</html>