<!-- views/pages/profile.ejs -->

<!DOCTYPE html>

<html>

<head>
    <title></title>

    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="/css/profile-style.css">

</head>

<body>

<header>
    <% include ../partials/header.ejs %>
</header>

<main>
    <section class="page">
        <img src="/img/profilepic.png" id="Pic"/>
        <h1 id="SiteTitle">Welcome Jane Doe</h1>

        <h2 id="PageList"> Munros Bagged </h2>
        <div class="Content">
            <ul>
                <li>Munro</li>
                <li>Munro</li>
                <li>Munro</li>
            </ul>
        </div>
    </section>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

<% include ../partials/scripts.ejs %>

</body>

</html>