<!-- views/pages/submit.ejs -->

<!DOCTYPE html>

<html>

<head>
    <title></title>

    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/contact.css">

</head>

<body>

<header>
    <% include ../partials/header.ejs %>
</header>

<main>
    <section class="page">
        <h2 id="title">CONTACT PAGE</h2>

        <textarea id="text">THANK YOU FOR YOUR INQUIRY!
  WE WILL GET BACK TO YOU AS SOON AS POSSIBLE</textarea>
    </section>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

<% include ../partials/scripts.ejs %>

</body>

</html>